" set <leader> to <space>
let mapleader = " "

set visualbell

set number                        " line numbers

set hlsearch                      " highlight search occurrences
set ignorecase                    " ignore case in search patterns
set smartcase                     " no ignore case when pattern is uppercase
set incsearch                     " show search results while typing
set wrapscan                      " searches wrap around the end of the file
set scrolloff=7

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" Highlight copied text
" Plug 'machakann/vim-highlightedyank'
" Commentary plugin
" Plug 'tpope/vim-commentary'

nmap <C-s> :w<CR>

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
nmap K <Action>(QuickJavaDoc)
nmap gr <Action>(FindUsages)
nmap gD <Action>(GotoDeclaration)
nmap gI <Action>(GotoImplementation)

nmap <leader>ca <Action>(ShowIntentionActions)
nmap <leader>cr <Action>(RenameElement)
nmap <leader>cf <Action>(ReformatCode)

nmap [d <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)

nmap <leader>bd <Action>(CloseContent)
" nmap <leader>bd <Action>(CloseEditor)

" -- no current equivalent mapping in nvim
nmap <leader>cg <Action>(Generate)
nmap - <Action>(SelectInProjectView)
nmap <leader><leader> <Action>(SearchEverywhere)

" Debugging keymaps
nmap <leader>dc <Action>(Debug)
nmap <leader>db <Action>(ToggleLineBreakpoint)

nmap <leader>uz <Action>(ToggleDistractionFreeMode)

" Redraw / clear hlsearch / diff update
nmap <leader>ur :nohlsearch|diffupdate|normal! <C-L><CR>
