layout {
   swap_tiled_layout name="vertical" {
       tab max_panes=5 {
           pane split_direction="vertical" {
               pane
               pane { children; }
           }
       }
       tab max_panes=8 {
           pane split_direction="vertical" {
               pane { children; }
               pane { pane; pane; pane; pane; }
           }
       }
       tab max_panes=12 {
           pane split_direction="vertical" {
               pane { children; }
               pane { pane; pane; pane; pane; }
               pane { pane; pane; pane; pane; }
           }
       }
   }

  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
        format_left  "{mode}#[fg=fg,bg=bg] {session}#[bg=bg] {tabs}"
        format_right "{command_git_branch} #[fg=fg,bg=bg]:: {datetime}"
        format_space "#[bg=fg]"

        mode_normal  "#[fg=white,bg=blue,bold] "
        mode_locked  "#[fg=white,bg=red,bold] "
        mode_resize  "#[fg=white,bg=cyan,bold] RESIZE "
        mode_pane    "#[fg=white,bg=green,bold] PANE "
        mode_tab     "#[fg=white,bg=yellow,bold] TAB "
        mode_scroll  "#[fg=white,bg=white,bold] SCROLL "
        mode_session "#[fg=white,bg=magenta,bold] SESSION "
        mode_move    "#[fg=white,bg=cyan,bold] MOVE "

        tab_normal               "#[fg=fg,bg=bg] {index} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
        tab_active               "#[fg=cyan,bg=bg,bold,italic] {index} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
        tab_fullscreen_indicator "□ "
        tab_sync_indicator       " "
        tab_floating_indicator   "󰉈 "

        command_git_branch_command  "git branch --show-current"
        command_git_branch_format   "#[fg=green,bg=bg,italic] {stdout}"
        command_git_branch_interval "10"
        command_git_branch_rendermode  "static"

        datetime          "#[fg=fg,bg=bg] {format} "
        datetime_format   "%d %b %Y %H:%M"
        datetime_timezone "Europe/London"
      }
    }
  }

  tab name="nvim" focus=true {
    pane focus=true edit="."
    pane size=1 borderless=true {
      plugin location="file:~/.config/zellij/plugins/tab-mode-switcher.wasm"
    }
  }

  tab name=" " split_direction="vertical" {
    pane size="45%"
    pane {
      pane
      pane
    }
  }
}
